@import '../../styles/common.scss';
.product {
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
  flex-direction: column;
  align-items: center;
  .imgBtn {
    height: 75%;
    display: flex;
    flex-direction: column;
    background-color: $secondery2;
    position: relative;
    .addToCartBtn {
      width: 100%;
      height: 40px;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      display: none;
    }
    .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .sale {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      top: 20%;
      left: 10%;
      background-color: $primary;
      color: $light;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover .addToCartBtn {
      display: block;
    }
  }

  .title {
    color: $dark;
    margin-top: 5px;
    font-size: large;
    font-weight: bold;
  }
  .category {
    color: $primary;
    margin-top: 5px;
  }
  .priceOldPrice {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px;
    .price {
      background-color: $primary;
      color: $light;
      width: 30%;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
    }
    .oldPrice {
      text-decoration: line-through;
      width: 30%;
    }
  }
}
