$primary: #0c0eb7;
$secondery: #fafafa;
$secondery1: #e4dfdf;
$light: #f9f7f7;
$dark: black;

@mixin hoverEfect {
  background-color: $secondery1 !important;
  color: $dark;
  transition: 0.5s ease;
}
* {
  box-sizing: border-box;
}
