@import '../../styles/common.scss';
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: $light;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  z-index: 2;
}
.cartItem {
  position: relative;
  display: flex;
  align-items: center;
}
.cartText {
  font-size: 20px;
}
.cart {
  cursor: pointer;
  width: 16px;
  margin-right: 5px;
}
.count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $primary;
  position: absolute;
  color: $light;
  top: -5px;
  left: -13px;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  display: flex;
}
a {
  text-decoration: none !important;
}
