@import '../../styles/common.scss';
.ProductDetails {
  display: flex;
  width: 100%;
  align-items: center;
  .imgsCarousel {
    width: 60%;
    height: 500px;
  }
  .productInfo {
    width: 40%;
    height: 75%;
  }
}
